<!-- Start progress style-large  -->
<div class="rwt-progressbar-area rn-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="section-title text-left" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                    {% if small_title %}
                    <h4 class="subtitle ">
                        <span class="theme-gradient">{{_(small_title)}}</span>
                    </h4>
                    {% endif %}
                    <h2 class="title w-600 mb--20">{{_(title)}}</h2>
                </div>
            </div>
        </div>
        <div class="row row--30">
            <div class="col-lg-10 offset-lg-1">
                <div class="rbt-progress-style-1 mt--10">
                    {% for bar in progress %}
                    <div class="single-progress large-size  no-radius">
                        <h6 class="title">{{_(bar.bar_title)}}</h6>
                        <div class="progress">
                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s"
                                role="progressbar" style="width: {{bar.bar_percentage}}%"
                                aria-valuenow="{{bar.bar_percentage}}" aria-valuemin="0" aria-valuemax="100">
                            </div>
                            <span class="progress-number">{{bar.bar_percentage}}%</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End progress style-large  -->